*{
    padding: 0px;
    margin: 0px;
}
body{
    padding: 10px;
}
.navbar{
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    justify-content: center;
}

.navbar a{
    text-decoration: none;
}

.form {
    width: 50%;
    display: grid;
    grid-template-columns: 1fr;
}
