*{
    padding: 0px;
    margin: 0px;
}
body{
    padding: 10px;
}
.navbar{
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    justify-content: center;
    border: red 1px solid;
}

.navbar a{
    text-decoration: none;
}
